.row-root {
  display: flex;
}

.row-root.vertAlignCenter {
  align-items: center;
}

.row-root.horizAlignCenter {
  justify-content: center;
}

.row-root.vertAlignBottom {
  align-items: flex-end;
}

.row-root.horizAlignLeft {
  justify-content: flex-start;
}

.row-root.vertAlignTop {
  align-items: flex-start;
}

.row-root.horizAlignRight {
  justify-content: flex-end;
}