@import "../../assests/_colors.scss";

.drawers-root {
  width: 100%;
}

.drawers-root:last-of-type {
  .drawers-title {
    border-bottom: transparent;
  }
}

.drawers-title {
  min-height: 30px;
  border-bottom: solid 1px $burgandy;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  background: $white;
  font-weight: bold;
}

.drawers-content {

}