@import "../../../assests/_colors.scss";

.tabStyleLink-root {
  padding: 20px 40px;
  border-radius: 4px 4px 0 0;
  margin-right: 2px;
  text-align: center;
  min-width: 75px;
  background: $burgandy_60;
  color: $white;
  font-weight: 500;
}

.tabStyleLink-root:hover,
.tabStyleLink-root.tabStyleLink-selected {
  background: $burgandy;
}

